<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0"
		/>
		<title>Document</title>
	</head>
	<body>
		<!-- 引入公共页头 -->
		<%= require("html-loader!../common/header/index.html") %>
		<!-- 首页主体首屏start -->
		<div class="home-wrap">
			<div class="container-xl">
				<div class="home-header-one">
					<div class="headerone-left">
						<div class="nav-empty"></div>
						<div class="left-list">
							<div class="ctb-section-title">
								<div class="title-left">
									<i class="bi bi-file-earmark-text"></i>
									<span>资讯动态</span>
								</div>
								<a href="/" class="title-right">
									<span>更多</span>
									<i class="bi bi-chevron-double-right"></i>
								</a>
							</div>

							<ul class="ctb-article-list time-line">
								<li class="ctb-article-list-item">
									<a class="article-title" href="/" target="_blank"
										>汽车流通产业互联网平台“车通宝” 打造汽车流通新模式</a
									>
									<div class="post-time">5小时前</div>
								</li>
								<li class="ctb-article-list-item">
									<a class="article-title" href="/" target="_blank"
										>汽车流通产业互联网平台“车通宝” 打造汽车流通新模式</a
									>
									<div class="post-time">15小时前</div>
								</li>
								<li class="ctb-article-list-item">
									<a class="article-title" href="/" target="_blank"
										>汽车流通产业互联网平台“车通宝” 打造汽车流通新模式</a
									>
									<div class="post-time">5小时前</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="headerone-right">
						<div class="right-swiper" id="swiper">
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="/img/banner1.jpg" alt="" />
									</div>
									<div class="swiper-slide">
										<img src="/img/banner2.jpg" alt="" />
									</div>
									<div class="swiper-slide">
										<img src="/img/banner3.jpg" alt="" />
									</div>
								</div>
								<div class="swiper-pagination"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 首页主体首屏end -->

		<!-- 首页 特别推荐start -->
		<div class="home-wrap">
			<div class="container-xl">
				<div class="tuijian" id="tbtj">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="cp-card">
									<div class="cp-pic">
										<a href="" target="_blank">
											<img
												src="http://img-album.a.scmbank.cn/286-286/2021/02/19/22/602f2cc65dd22.jpg"
												alt=""
											/>
										</a>
									</div>
									<div class="cp-title">
										宝骏5302021款 全球车周年纪念版 1.5T CVT尊贵互联型 5座9.28万
									</div>
									<div class="cp-func-row">
										<div class="cp-price">
											<div class="price-label">
												<i class="bi bi-handbag"></i>
												<span>价格</span>
											</div>
											<div class="price-content">
												<span class="num">¥ 232,183.00</span>
												<span> / 辆</span>
											</div>
										</div>
										<button
											type="button"
											class="cp-buy-btn btn btn-primary btn-sm"
										>
											<i class="bi bi-cart-plus"></i><span>加入采购车</span>
										</button>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- 首页 特别推荐end -->

		<!-- 引入公共页尾 -->
		<%= require("html-loader!../common/footer/index.html") %>
	</body>
</html>
