/* 头部的css代码 */

.header-container {
  color: #fff;
  width: 100%;
  height: 65px;
}
.header-w {
  /* height: 65px; */
  height: 100%;
}
.header-w .header-logo {
  display: flex;
  height: 100%;
  align-items: center;
}
.header-w .header-logo img {
  height: 45px;
}

.header-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.header-nav li a {
  font-weight: bold;
  font-size: 14px;
}
.header-nav li a {
  color: #fff;
  text-decoration: none;
}
.header-tel {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
  font-size: 14px;
}
.header-tel span {
  margin-left: 10px;
  font-weight: bold;
}
.header-search {
  background-color: #fff;
  height: 60px;
}
.header-menu-btn {
  position: relative;
  color: #444;
  display: flex;
  align-items: center;
  width: 50%;
  max-width: 250px;
  min-width: 120px;
  height: 100%;
  font-size: 14px;
  transition: all .3s;
} 
.header-menu-btn span {
  cursor: pointer;
  font-weight: bold;
}
.menu-dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: #fff;
  border-top: 2px solid var(--theme-color);
  
}
.menu-dropdown-list .list-item {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.header-menu-btn:hover span,
.header-menu-btn:hover .bi.bi-list {
  color: var(--theme-color);
}
.header-menu-btn span {
  margin-left: 10px;
}
.header-menu-btn .bi {
  font-size: 28px;
}
.search {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.search .bi.bi-search {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin-top: auto;
  height: 35px;
  text-align: center;
  line-height: 35px;
  width: 40px;
  margin-bottom: auto;
  cursor: pointer;
  font-size: 20px;
  color: #999;
  transition: all .3s;
}
.search .bi.bi-search:hover {
  color: var(--theme-color);
}
.search input {
  background-color: #f2f2f2;
  border: 0;
  outline: none;
}
.search input.form-control:focus {
  box-shadow: none;
  background-color: #f2f2f2;
}
.user-func {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}
.func-item {
  height: 100%;
  padding: 0 5px;
}
.func-item:hover .func-label .bi {
  color: var(--theme-color);
}
.func-label {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.func-label .bi {
  font-size: 26px;
  color: #444;
  transition: all .3s;
  cursor: pointer;
}
.header-item.header-func {
  padding: 0;
}
.badge-w {
  position: absolute;
  top: 20%;
  right: -5px;
}