
body {
  --theme-color: #004dda;
  --theme-color-bg: #edf1f5;
  color: #666
}


.main-container{
  width: 1000px;
  margin: 30px auto;
}
.theme-color {
  background-color: var(--theme-color);
}
.theme-bg-color {
  background-color: var(--theme-color);
}